@model AdminApplicationsViewModel
@{
    ViewBag.Title = "Admin Management";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if(Model != null) {
    <hr class="yellowLine"/>
    <div>
        <h3 class="text-jampot-yellow text-center content">Applications</h3>
        @if(Model.Applications.Count > 0)
        {
            <table class="table table-striped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Applicant Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Resume</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Application application in Model.Applications)
                    {
                        <tr>
                            <td>@application.Name</td>
                            <td>@application.PhoneNumber</td>
                            <td>@application.Email</td>
                            <td>@application.JobTitle?.JobTitleName</td>
                            <td>
                                <a asp-action="DownloadResume" asp-controller="Admin" asp-route-id="@application.ApplicationID" class="btn btn-sm btn-info text-nowrap">
                                    Download Resume
                                </a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link text-danger" data-bs-toggle="modal" data-bs-target="@("#confirmDeleteModal" + application.ApplicationID)">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                                <div class="modal fade" id="@("confirmDeleteModal" + application.ApplicationID)" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content bg-dark text-danger">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deleteTextModalLabel">Permanently Delete Application?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Delete this application? This action cannot be undone.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                                                <form asp-action="DeleteApplication" asp-controller="Careers" asp-route-id="@application.ApplicationID" method="Post">
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit" class="btn btn-danger" title="Delete Application">
                                                        Delete
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        }
    </div>
}