@model AdminViewModel
@{
    ViewBag.Title = "Admin Management";
}

<h2 class="title text-jampot-green">ADMIN MANAGEMENT</h2>
<span class="text-success">@TempData["Message"]</span>
@if (Model != null)
{
    <hr class="yellowLine"/>
    <div>
        <h3 class="text-jampot-yellow text-center content">Editable Text Blocks</h3>
        @if (Model.Textblocks.Count > 0)
        {
            <table class="table table-striped table-bordered table-dark">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Name of Page</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Create</th>
                </tr>
                </thead>
                <tbody>
                @{
                    List<string> locations = [];
                }
                @foreach (TextElement text in Model.Textblocks)
                {
                    <tr>
                        <td>@text.Name</td>
                        <td>@text.Page.PageTitle</td>
                        <td>
                            <a asp-action="TextEdit" asp-controller="Admin" asp-route-id="@text.TextElementId">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </td>
                        @if (text.Page.PageTitle.ToLower().Contains("faq"))
                        {
                            <td>
                                <a asp-action="DeleteText" asp-controller="Admin" asp-route-id="@text.TextElementId">
                                    <i class="fa-solid fa-trash-can text-danger"></i>
                                </a>
                            </td>
                            <td>
                                <a asp-action="TextEdit" asp-controller="Admin" class="btn btn-primary">Add New</a>
                            </td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        }
        <h3 class="text-center text-jampot-yellow content">Photo Edit</h3>
        <a asp-controller="Admin" asp-action="AddPhoto" class="btn btn-primary offset-8">Add New Photo</a>
        @if (Model.Photos.Count > 0)
        {
            foreach (Page p in Model.Pages)
            {
                string title = p.PageTitle;
                int pageId = p.PageId;
                List<File> photosOnPage = Model.Photos.Where(f => f.Pages
                    .Any(p => p.PageId == pageId)).ToList();
                if (photosOnPage.Count > 0)
                {
                    <h4 class="text-jampot-green">@title</h4>
                    <div class="row">
                    @foreach (var photo in photosOnPage)
                    {
                        string filename = photo.GetFileName();
                        <div class="col">
                            @* edit button *@
                            <form asp-action="EditPhoto" asp-controller="Admin" method="get">
                                <input type="hidden" name="id" value="@photo.FileID"/>
                                <input type="hidden" name="pageTitle" value="@p.PageTitle"/>
                                <button type="submit" class="btn btn-link"><i class="fa-regular fa-pen-to-square"></i></button>
                            </form>
                            <button type="button" class="btn btn-link text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <img src="@photo.FileName" alt="@filename" style="max-width: 500px" class="w-100"/>
                        </div>
                        @* Confirm Delete Modal *@
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Permanently Delete Photo?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this photo? This action cannot be undone.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                                        <a class="btn btn-danger" asp-action="DeletePhoto" asp-route-id="@photo.FileID">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                }
            }
            var misc = Model.Photos.Where(f => f.Pages.Count == 0).ToList();
            if(misc.Count > 0)
            {
                <h4 class="text-jampot-green">Unaffiliated</h4>
                <div class="row">
                @foreach (File f in misc)
                {
                    string filename = f.GetFileName();
                    <div class="col">
                        @* edit button *@
                        <form asp-action="EditPhoto" asp-controller="Admin" method="get">
                            <input type="hidden" name="id" value="@f.FileID"/>
                            <input type="hidden" name="pageTitle" value=""/>
                            <button type="submit" class="btn btn-link"><i class="fa-regular fa-pen-to-square"></i></button>
                        </form>
                        <button type="button" class="btn btn-link text-danger" data-bs-toggle="modal" data-bs-target="@("#deleteModal" + f.FileID)">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                        <img src="@f.FileName" alt="@filename" class="w-100"/>
                    </div>
                    <div class="modal fade" id="@("deleteModal" + f.FileID)" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content bg-dark text-danger">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalLabel">Permanently Delete Photo?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this photo? This action cannot be undone.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger" asp-action="DeletePhoto" asp-route-id="@f.FileID">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            }
        }
        <h3 class="text-jampot-yellow text-center content">Products</h3>
        @if (Model.Products.Count > 0)
        {
            <div style="margin: 25px;">
                <a asp-action="ProductEdit" asp-controller="Admin" class="btn btn-primary offset-8">Add New Product</a>
            </div>
            <table class="table table-striped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product product in Model.Products)
                    {
                        <tr>
                            <td>@product.ProductName</td>
                            <td>
                                <a asp-action="ProductEdit" asp-controller="Admin" asp-route-id="@product.ProductId">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a asp-action="DeleteProduct" asp-controller="Admin" asp-route-id="@product.ProductId"> 
                                     <i class="fa-solid fa-trash-can text-danger"></i> 
                                 </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
