@using System.Globalization
@model List<ProductType>
@{
    ViewBag.Title = "Order Page";
    Layout = "_Layout";
}
<div class="row order-filter">
    <form class="col-lg-3 col-md-6 mt-2 p-0 offset-2 offset-md-0" method="get" asp-action="Search" asp-controller="Order">
        <label for="search" class="col-form-label-lg text-jampot-yellow first-element">Search</label>
        <input id="search" name="key"/>
        <button type="submit" class="fab fa-searchengin btn fs-5 text-jampot-yellow bg-jampot-green last-element"></button>
    </form>
    <div id="food" class="col-lg-5 col-md-6 mt-2 offset-2 offset-md-0">
        <a class="btn col m-1" asp-action="Index" asp-controller="Order">All</a>
        <a class="btn col m-1" asp-action="FilterByCategory" asp-controller="Order" asp-route-type="food">Food</a>
        <a class="btn col m-1" asp-action="FilterByCategory" asp-controller="Order" asp-route-type="drink">Drinks</a>
        <a class="btn col m-1" asp-action="FilterByCategory" asp-controller="Order" asp-route-type="dessert">Desserts</a>
    </div>
    <div id="allergen" class="col-lg-4 offset-2 offset-md-7 offset-lg-0 mt-2">
        <a class="btn col m-1" asp-action="FilterByTag" asp-controller="Order" asp-route-type="vegan">Vegan</a>
        <a class="btn col m-1" asp-action="FilterByTag" asp-controller="Order" asp-route-type="gluten free">Gluten-Free</a>
        <a class="col ms-1" asp-action="Index" asp-controller="Cart">
            <span class="fas fa-cart-arrow-down fs-3 bg-black text-jampot-green"></span>
            <span id="cart-count" class="position-absolute translate-middle badge rounded-pill bg-danger">
                0
            </span>
        </a>
    </div>
</div>

<div class="row">
    @if (Model.Any())
    {
        foreach (ProductType c in Model)
        {
            if (c.Products.Any())
            {
                <h4 class="content text-jampot-yellow order-section">@string.Concat(Char.ToUpper(c.Type[0]), c.Type.Substring(1, c.Type.Length - 1))</h4>
                foreach (Product p in c.Products)
                {
                    <div class="col-lg-4 col-md-6 p-2">
                        <img src="@p.ProductPhoto.FileName" alt="@p.ProductName" class="photo rounded"/>
                        <div class="container banner text-dark content rounded-bottom">
                            <div class="row">
                                <p class="col-md fs-4">@p.ProductName</p>
                                <p class="col-md-3">@p.ProductPrice.ToString("C", new CultureInfo("en-us"))</p>
                            </div>
                            <div class="row">
                                <p class="col-md">@p.ProductIngredients</p>
                                <button class="col-md-3 btn btn-jampot align-self-start order-btn" data-product-id="@p.ProductId">Order</button>
                            </div>
                        </div>
                    </div>
                }    
            }
        }
    }
</div>
<!--Script for increasing cart badge number, as well as not reloading the page when the users adds an item to the cart-->
<script>
    document.addEventListener('DOMContentLoaded', function(){
        const orderButtons = document.querySelectorAll('.order-btn')

        orderButtons.forEach(button =>{
            button.addEventListener('click', function(){
                const productId = this.getAttribute('data-product-id');

                fetch('/Cart/AddToCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]')?.value
                    },
                    body: JSON.stringify({ productId: parseInt(productId) })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success){
                        alert('Added to cart!')
                        const cartCount = document.getElementById('cart-count');
                        if(cartCount){
                            cartCount.textContent = data.totalCartQuantity;
                        }
                    }
                    else{
                        alert('Something went wrong :(')
                    }
                });
            });
        });
    });
</script>
