@using System.Globalization
@model OrderViewModel
@{
    ViewBag.Title = "Order Page";
    Layout = "_Layout";
}
<div class="row order-filter">
    <form class="col m-3" method="get" asp-action="Search" asp-controller="Order">
        <label for="search" class="col-form-label text-jampot-yellow">Search</label>
        <input class="col" id="search" name="key"/>
        <button type="submit" class="fab fa-searchengin btn fs-5 text-jampot-yellow bg-jampot-green"></button>
    </form>
    <div id="food" class="col">
        <a class="btn col m-3" asp-action="FilterByCategory" asp-controller="Order" asp-route-type="food">Food</a>
        <a class="btn col m-3" asp-action="FilterByCategory" asp-controller="Order" asp-route-type="drink">Drinks</a>
        <a class="btn col m-3" asp-action="FilterByCategory" asp-controller="Order" asp-route-type="dessert">Desserts</a>
    </div>
    <div id="allergen" class="col">
        <a class="btn col m-3" asp-action="FilterByTag" asp-controller="Order" asp-route-type="vegan">Vegan</a>
        <a class="btn col m-3" asp-action="FilterByTag" asp-controller="Order" asp-route-type="gluten free">Gluten-Free</a>
    </div>
</div>

<div class="row">
    @if (Model.ProductTypes.Any())
    {
        foreach (ProductType c in Model.ProductTypes)
        {
            <h4 class="content text-jampot-yellow">@string.Concat(Char.ToUpper(c.Type[0]), c.Type.Substring(1, c.Type.Length - 1))</h4>
            if (Model.Products.Any())
            {
                foreach (Product p in Model.Products)
                {
                    if (p.ProductCategory.Contains(c))
                    {
                        <div class="col-lg-4 p-2">
                            <img src="@p.ProductPhoto.FileName" alt="product image" class="photo rounded"/>
                            <div class="container banner text-dark content rounded-bottom">
                                <div class="row">
                                    <p class="col fs-4">@p.ProductName</p>
                                    <p class="col-lg-3">@p.ProductPrice.ToString("C", new CultureInfo("en-us"))</p>
                                </div>
                                <div class="row">
                                    <p class="col">@p.ProductIngredients</p>
                                    <a class="col-3 btn btn-jampot align-self-start" asp-action="AddToCart" asp-controller="Cart">Order</a>
                                </div>
                            </div>
                        </div>
                    }
                }    
            }
        }
    }
</div>
