@model ContentViewModel
@{
    ViewBag.Title = "FAQs";
}

<h2 class="title text-jampot-yellow">FAQS</h2>
<span class="text-@TempData["context"]">@TempData["Message"]</span>
@if(Model != null)
{
    <div class="row">
        <div id="faqs" class="p-5 col-lg">
            @if (Model.Textblocks.Count > 0)
            {
                @foreach (TextElement faq in Model.Textblocks)
                {
                    <div class="row">
                        <details class="p-3 col">
                            <summary class="h5 text-jampot-green fw-bold">@faq.Name</summary>
                            <p class="text-jampot-yellow fs-5">
                                @{
                                    string[] paragraphs = faq.Content.Split("\n");
                                }
                                @foreach (string par in paragraphs)
                                {
                                    <br/>
                                    @par
                                }

                            </p>
                        </details>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-controller="Admin" asp-route-id="@faq.TextElementId" class="col-1">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <a asp-action="Delete" asp-controller="Admin" asp-route-id="@faq.TextElementId" class="col-1">
                                <i class="fa-solid fa-trash-can text-danger"></i>
                            </a>
                        }
                    </div>
                }
            }
        </div>
        
        <div class="col-lg" id="pic">
            @if(Model.Photo != null){
                int startIndex = Model.Photo.FileName.IndexOf("/");
                int endIndex = Model.Photo.FileName.IndexOf(".");
                string name = Model.Photo.FileName.Substring(startIndex, endIndex - startIndex);
                <img src="@Model.Photo.FileName" alt="@name" class="photo"/>
                @if (User.IsInRole("Admin"))
                {
                    <form asp-action="EditPhoto" asp-controller="Admin" method="get">
                        <input type="hidden" name="id" value="@Model.Photo.FileID"/>
                        <input type="hidden" name="pageTitle" value="@ViewBag.Title"/>
                        <button type="submit" class="btn btn-link"><i class="fa-regular fa-pen-to-square"></i></button>
                    </form>
                }
            }
            
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary m-5" asp-action="Edit" asp-controller="Admin">Add New FAQ</a>
            }
        </div>
    </div>
}


