@using System.Globalization
@model CartViewModel
@{
    ViewData["Title"] = "View Cart";
}

<div class="text-center">
    <h1 class="display-3 title">VIEW CART</h1>
</div>
<div class="container content text-jampot-yellow" style="font-size:30px">
    <hr class="yellowLine"/>
        @if (Model.Items.Count == 0)
        {
            <p>Your cart is empty.</p>
        }
        else
        {
            @foreach (var item in Model.Items) 
            {
                <div class="product-row">
                    <img src="@item.ProductPhoto.FileName" alt="@item.ProductName" class="product-img" />
                    <div class="product-details">
                        <div class="product-info">
                            <p>@item.ProductName</p>
                            <p>@item.ProductPrice.ToString("C", new CultureInfo("en-us"))</p>
                        </div>
                        <div class="quantity-control">
                            <button class="qty-btn">+</button>
                            <span class="qty-number">@item.Quantity.ToString()</span>
                            <button class="qty-btn">-</button>
                        </div>
                    </div>
                </div>
            }
        <hr class="yellowLine" />
        <div class="price-line">
            <span>Subtotal:</span>
            <span>@Model.TotalPrice.ToString("C", new CultureInfo("en-us"))</span>
        </div>
        <div class="price-line">
            <span>Total Items:</span>
            <span>@Model.TotalQuantity</span>
        </div>
        }
    <hr class="yellowLine" />
    <div class="row">
        <button type="submit" class="btn btn-warning col-6 col-md-3 mx-auto m-3" style="font-size:30px">PLACE ORDER</button>
        <!--TODO:
            Order and OrderItem will be saved to the database once the checkout process is complete-->
    </div>
</div>
