@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SpecialViewModel

@{
    ViewBag.Title = "Specials";
}

<h2 class="title text-jampot-green">SPECIALS</h2>
<hr class="yellowLine"/>
<div class="row">
    @if (Model != null && Model.Specials.Count > 0)
    {
        foreach (Product p in Model.Specials)
        {
            File photo = null;
            foreach (File f in Model.Promotions)
            {
                int startIndex = p.ProductPhoto.FileName.LastIndexOf('/');
                int length = p.ProductPhoto.FileName.IndexOf('.') - startIndex;
                if (f.FileName.ToLower().Contains(p.ProductPhoto.FileName.Substring(startIndex, length).ToLower()))
                {
                    photo = f;
                }
            }

            if (photo == null)
            {
                photo = p.ProductPhoto;
            }

            <div class="col-lg-4 col-md-6 p-2">
                <img src="@photo.FileName" alt="@p.ProductName" class="photo rounded-top"/>
                <div class="container bg-jampot-yellow text-dark content rounded-bottom">
                    <div class="row">
                        <div class="fs-4">@p.ProductName</div>
                        <div class="fw-bold">@p.ProductPrice.ToString("C", new CultureInfo("en-us"))</div>
                    </div>
                    <div class="row">
                        <p class=""><span class="fw-bold">Ingredient List:&nbsp;</span>@p.ProductIngredients</p>
                        <a class="btn bg-jampot-green text-light fw-bold align-self-start" asp-action="Index" asp-controller="Order">Order Now!</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
