@using Microsoft.EntityFrameworkCore.Infrastructure
@model CateringViewModel
@{
    ViewData["Title"] = "Catering";
}

<div class="text-center">
    <!--Make Title "Zinjaro" Font-->
    <h1 class="display-3 title text-jampot-green">CATERING</h1>
    <div class="container">
        <!--Row of placeholder images-->
        <div class="row">
            @if (Model.Photos.Count > 0)
            {
                foreach(JampotCapstone.Models.File photo in Model.Photos)
                {
                    int startIndex = photo.FileName.IndexOf("/");
                    int endIndex = photo.FileName.IndexOf(".");
                    string filename = photo.FileName.Substring(startIndex, endIndex - startIndex);
                    <div class="col-md">
                        <img src="@photo.FileName" class="img-fluid responsiveSquare" alt="@filename">
                        @if (User.IsInRole("Admin"))
                        {
                            <form asp-action="EditPhoto" asp-controller="Admin" method="get">
                                <input type="hidden" name="id" value="@photo.FileID"/>
                                <input type="hidden" name="pageTitle" value="@ViewData["Title"]"/>
                                <button type="submit" class="btn btn-link"><i class="fa-regular fa-pen-to-square"></i></button>
                            </form>
                        }
                    </div>
                }
            }
            @*<div class="col-md">
                <img src="/pics/ElectrolyteRefresh.png" class="img-fluid responsiveSquare" alt="Electrolyte Refresh Drink">
            </div>
            <div class="col-md">
                <img src="/pics/GardenWrap.png" class="img-fluid responsiveSquare" alt="Vegan Garden Wrap">
            </div>*@
        </div>
        <!--Text elements with features and catering details-->
        <div class="row">
            @if(Model.Textblocks.Count > 0)
            {
                foreach (TextElement col in Model.Textblocks)
                {
                <div class="col-lg">
                    <h1 class="display-6 title text-jampot-green">@col.Name</h1>
                    <p class="bodyText">
                        @{ string[] paragraphs = col.Content.Split("\n");}
                        @foreach(string par in paragraphs)
                        {
                            <br/>@par
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-controller="Admin" asp-route-id="@col.TextElementId"><i class="fa-regular fa-pen-to-square"></i></a>
                        }
                    </p>
                </div>
                }
            }
        </div>
        <div class="nav-item row">
            <a class="btn btn-warning text-dark fs-4 col-lg-5 mx-auto mb-5 title" asp-area="" asp-controller="ContactUs" asp-action="Index">CONTACT US</a>
        </div>
    </div>
</div>